<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubExampleLesson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8484BF71CA2F575007363AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8484C0B1CA2F576007363AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8484C161CA2F576007363AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
